*{margin: 0px;
padding: 0px;
box-sizing: border-box;}

.logo{
    margin-top: 20px;
    margin-left: 40px;
}

header{
    display: flex;
    justify-content: space-between;
}
.monitor{
    color:#808080;
    font-size: 21px;
    
    margin-top: 70px;
}
.logoGafisa{
    margin-top: 20px;
    margin-right:20px ;
}

table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
th,td{
    padding: 8px 10px;
    
}
th{
    background-color: #4CAF50;
    color:white;
}

table tr:nth-child(odd){
    background-color: #ddd;

}
table tr:nth-child(even){
    background-color: white;
}

table{
    text-align: center;
}
.tabela{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.grafanaa{
    display: flex;
    justify-content: center;
    margin-top:30px;
    margin-bottom: 50px;

}
.linha{
    width:100%;
    height: 13px;
    background-color: #339966AD;
}

.footercentro{
    width:80%;
    height: 100%;
    background-color:#263a7f;
    margin-left: 140px;
    color: white;
}

footer{
    width:100%;
    height: 100px;
    background-color :rgb(102,153,204);
    font-size: 18px;
    text-align: center;

}

footer p {
    padding:5px;
}

